aniso8601==3.0.2
argcomplete==1.9.3
boto3==1.9.144
botocore==1.12.144
certifi==2019.3.9
cfn-flip==1.2.0
chardet==3.0.4
click==7.0
cognitojwt==1.1.0
docutils==0.14
durationpy==0.5
ecdsa==0.13.2
flask==1.0.2
flask-cors==3.0.7
flask-graphql==2.0.0
flask-sqlalchemy==2.4.0
future==0.16.0
-e vendor/graphql-core
-e vendor/graphene
-e git+https://github.com/graphql-python/graphene-sqlalchemy.git@db3e9f4c3baad3e62c113d4a9ddd2e3983d324f2#egg=graphene-sqlalchemy
graphql-relay==0.4.5
graphql-server-core==1.1.1
hjson==3.0.1
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.1
jmespath==0.9.3
kappa==0.6.0
lambda-packages==0.20.0
markupsafe==1.1.1
marshmallow==2.19.2
munch==2.3.2
placebo==0.9.0
promise==2.2.1
pyasn1==0.4.5
pymysql==0.9.3
python-dateutil==2.6.1
python-jose==3.0.1
python-slugify==1.2.4
pyyaml==5.1
requests==2.21.0
rsa==4.0
rx==1.6.1
s3transfer==0.2.0
singledispatch==3.4.0.3
six==1.12.0
slugify==0.0.1
sqlalchemy==1.3.3
sqlalchemy-utils==0.33.11
toml==0.10.0
tqdm==4.19.1
troposphere==2.4.6
unidecode==1.0.23
urllib3==1.24.3
werkzeug==0.15.2
wheel==0.33.1
wsgi-request-logger==0.4.6
zappa==0.48.2
flask_admin
